.bold-text {
    font-weight: bold;
  }
  
.italic-text {
    font-style: italic;
}

.underline-text {
    text-decoration: underline;
}

.monospace-text {
   text-transform: uppercase;
  }
  